[Desktop Entry]
Type=Application
Name=G@IP
GenericName=Gestion d’Adresses IP
Comment=Gestion de sites, VLAN, adressage IPv4 et multicast
Exec=GAIP
Icon=GAIP
Terminal=false
Categories=Network;Utility;
StartupWMClass=GAIP
