<Project>
  <PropertyGroup>
    <Configuration>Debug</Configuration>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>portable</DebugType>
    <DebugSymbols>true</DebugSymbols>
    <CopyOutputSymbolsToPublishDirectory>true</CopyOutputSymbolsToPublishDirectory>
    <PublishDir>$(MSBuildProjectDirectory)/../../artifacts/Development/$(RuntimeIdentifier)/</PublishDir>
  </PropertyGroup>
</Project>
