<Project>
  <Import Project="Release.pubxml" />
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>full</TrimMode>
    <TrimmerSingleWarn>false</TrimmerSingleWarn>
    <PublishDir>$(MSBuildProjectDirectory)/../../artifacts/ExperimentalTrimmed/$(RuntimeIdentifier)/</PublishDir>
  </PropertyGroup>
  <Target Name="ValidateExperimentalTrimmedRuntime" BeforeTargets="PrepareForBuild" Condition="'$(RuntimeIdentifier)' != 'win-x64'">
    <Error Text="ExperimentalTrimmed est réservé à win-x64." />
  </Target>
</Project>
